{% extends 'header.html' %}

{% block content %}
<main>
    <h1 class="text-center">Mis Favoritos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
                <th scope="col">Última Ubicación</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for favorito in favourite_list %}
                <tr>
                    <td>{{ favorito.name }}</td>
                    <td>{{ favorito.status }}</td>
                    <td>{{ favorito.last_location }}</td>
                    <td>
                        <form method="POST" action="{% url 'deleteFavourite' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ favorito.id }}">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}