{% extends 'header.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
<main>
    <h1 class="text-center">Buscador Rick & Morty</h1>

    <div class="d-flex justify-content-end" style="margin-bottom: 1%; margin-right: 2rem;">
        <!-- Selector de página -->
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link">⬅️</a>
                </li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">➡️</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="d-flex justify-content-center" style="margin-bottom: 1%">
        <!-- Buscador del sitio -->
        <form class="d-flex" action="{% url 'buscar' %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="query" placeholder="Escribí una palabra" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>

    <!-- Ajuste de las columnas para las cards -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% if personajes|length == 0 %}
                <h2 class="text-center">La búsqueda no arrojó resultados...</h2>
            {% else %}
                {% for personaje in personajes %}
                    <div class="col">
                        <div class="card h-100 mb-3 
                            {% if personaje.estado == 'Alive' %}
                                border-success
                            {% elif personaje.estado == 'Dead' %}
                                border-danger
                            {% else %}
                                border-warning
                            {% endif %}
                        " style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ personaje.imagen }}" class="card-img-top" alt="imagen de {{ personaje.nombre }}" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">{{ personaje.nombre }}</h3>
                                        <p class="card-text">
                                            <strong>
                                                {% if personaje.estado == 'Alive' %}
                                                    <span class="status-circle green"></span> {{ personaje.estado }}
                                                {% elif personaje.estado == 'Dead' %}
                                                    <span class="status-circle red"></span> {{ personaje.estado }}
                                                {% else %}
                                                    <span class="status-circle orange"></span> {{ personaje.estado }}
                                                {% endif %}
                                            </strong>
                                        </p>
                                        <p class="card-text"><small class="text-body-secondary">Última ubicación: {{ personaje.ultima_ubicacion }}</small></p>
                                        <p class="card-text"><small class="text-body-secondary">Episodio inicial: {{ personaje.primer_episodio }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
